<!-- HTML doc must start with declaration that specifies -->
<!-- HTML doc must be in templates folder for flask to see it -->
<!DOCTYPE html> 
<html>
    <!-- Outside body tag can be CSS, Javascript, etc. -->
    <body>
        <div class="test">
            <h1>Thanks {{ name }}</h1>
            <p>Your request has been submitted. 
                <ul>
                    <li>Check out the recipe <a href="https://wiki.thegates.online/index.php?title={{ title }}">here</a>.</li>
                    <li>Check out <a href = "https://wiki.thegates.online/index.php?title=Category:Recipes">all our recipes</a> (it may take a while for your submission to appear in this list).</li>
                </ul>
            </p>
        </div>
    </body>
</html>